<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.dawidpiechaczekcv">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/david"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AboutMeActivity"
            android:label="O mnie">
        </activity>
        <activity android:name=".activity.ExperienceActivity"
            android:label="Doświadczenie">
        </activity>
        <activity android:name=".activity.ProjectsActivity"
            android:label="Projekty">
        </activity>
        <activity android:name=".activity.TechnologiesActivity"
            android:label="Technologie">
        </activity>
        <activity android:name=".activity.ContactActivity"
            android:label="Kontakt">
        </activity>
    </application>

</manifest>